* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  color: rgba(255, 255, 255, 0.2);
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.25);
  transition: all 0.5s ease;
}

.sound-picker button {
  color: white;
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}

.sound-picker button:nth-child(1) {
  background: #4972a1;
}

.sound-picker button:nth-child(2) {
  background: #a14f49;
}

.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}

.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
}

.player-container .play {
  width: 120px;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}

@media (max-width: 575px) {
  .app {
    background-color: rgba(255, 255, 255, 0.1);
  }

  video {
    transform: scale(2.5);
    margin-top: 153px;
  }

  .time-select,
  .sound-picker {
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }



  .sound-picker button:nth-child(1) {
    background: #4972a1;
  }

  .sound-picker button:nth-child(2) {
    background: #a14f49;
  }


  .sound-picker button img {
    transform: scale(3.5);
  }


  .time-select button:hover {
    background: white;
    color: black;
  }

  .player-container {
    height: 50%;
  }

  .player-container .play {
    transform: scale(0.5);
  }

  .replay {
    transform: scale(1.5);
  }

  .time-display {
    transform: scale(0.5);
    margin: 30px;

  }

  .time-select {
    color: white;
  }

  .time-select button,
  .sound-picker button {
    color: rgba(255, 255, 255, 0.61);
    width: 65%;
    height: 20%;
    background: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.28);
    transition: all 0.5s ease;
  }


  .time-select button:hover {
    background: none;
    color: white;
  }
}

